/* about.css */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  max-width: 120rem;
  width: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.image-div {
  text-align: center;
  margin-bottom: 2rem;
}

.image-div img {
  border-radius: 10%;
  width: 15rem;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #ffe391; */
}

.info-div {
  margin: 0 2rem 0 2rem;
  padding-left: 3rem;
}

.info {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.expertise-div {
  margin-bottom: 2rem;
}

#expertise-span {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.expertise-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
}
.expertise-list li{
  margin: 1.5rem;
}
.expertise-list li div{
  padding: 2rem;
  border: 1px solid #ffe391;
}
.expertise-list li div:hover{
  transform: scale(110%);
  box-shadow: 0px 0px 10px 2px #ffe391;
  transition: all ease-in-out;
  transition-duration: 0.1s;
}

.widwid-div {
  margin-bottom: 2rem;
}

.widwid-div span {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.widwid-div p {
  font-size: 1rem;
  line-height: 1.6;
}
