
.contact-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-card {
  border-radius: 10px;
  box-shadow: 0 0 8px 8px rgba(242, 242, 242, 0.3);
  padding: 2rem;
  max-width: 400px;
  text-align: center;
}

.contact-card h2 {
  margin-bottom: 1rem;
  color: #f2f2f2;
  font-family: 'Cinzel', serif;
}
.contact-info{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact-info div {
   width: 100%;
   height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.contact-info span{
    margin: 1rem;
    height: 2rem;
}
.contact-info strong {

  color: #ffe391;
  margin: 1rem;
    font-weight: 700;
    height: 2rem;
}

.contact-card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .contact-card {
    width: 90%; /* Make contact card full-width */
    max-width: 350px; /* Reduce max width slightly */
  }

  .contact-card h2 {
    font-size: 1.8rem; /* Adjust font size for smaller screens */
  }

  .contact-info div {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .contact-info strong, .contact-info span {
    font-size: 1rem;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .contact-card {
    padding: 1.5rem; /* Reduce padding for smaller screens */
    max-width: 300px; /* Reduce max width */
  }

  .contact-card h2 {
    font-size: 1.6rem; /* Further adjust font size */
  }

  .contact-info div {
    word-spacing: normal;
    /* word-break: break-all; */
    font-size: 0.5rem; /* Adjust font size for better fit */
  }

  .contact-info strong, .contact-info span {
    font-size: 0.9rem;
  }
}