* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-container {
    height: 100%;
    padding: 2rem 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2rem;
}
/* 
.home-introduction {
    display: flex;
    flex-direction: column;
} */

.home-introduction span {
    padding: 0.5rem;
}


#home-hi {
    display: inline-block;
    font-size: 1.2rem;
}

#home-name {
    display: block;
    font-size: 5rem;
    color: #f2f2f2;
    font-family: "Cinzel", serif;
}

#home-tagline {
    display: block;
    width: 0;
    max-width: fit-content;
    color: #ffe391;
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.05em solid #ffe391;
    animation: typing 3.5s steps(40, end) forwards , blink-caret 0.75s step-end infinite;
}

#home-desc {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
    #home-name {
        font-size: 3rem;
    }
    #home-tagline {
        font-size: 2rem;
    }
    #home-desc {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .home-content {
        flex-direction: column; 
        align-items: center; 
    }

    #home-name {
        font-size: 2.5rem; 
    }

    #home-tagline {
        font-size: 1.8rem;
    }

    #home-desc {
        font-size: 0.9rem;
    }

    .home-socials img {
        height: 3rem; 
        width: 3rem;
    }
}

@media screen and (max-width: 480px) {
    #home-name {
        font-size: 2rem; 
    }

    #home-tagline {
        font-size: 1.5rem;
    }

    #home-desc {
        font-size: 0.8rem;
    }

    .home-socials img {
        height: 2.5rem; 
        width: 2.5rem;
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ffe391; }
}