body,html{
    margin: 0;
    padding: 0;
    height: 100%;
   color: #F2F2F2;
   overflow-x: hidden;
   cursor: none;
   scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

